
 
<p>
  <strong>Post:</strong>
  <%= post.title %> by <%= post.user.name %>

 

  <%= link_to 'Destroy Post', [post.user, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>